ErrorDocument 404 /https://www.joneskj55.github.io/404.html

<filesMatch ".(ico|flv|jpg|jpeg|png|gif|js|css|swf|webp)$">
    Header set Cache-Control "max-age=31536000, public"
</filesMatch>

<IfModule mod_headers.c>

    <filesMatch "\.(jpg|jpeg|png|webp)$">
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>


    <filesMatch "\.(css|swf)$">
        Header set Cache-Control "max-age=31536000"
    </filesMatch>
</IfModule>
