<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Founder & CEO of Dig Labs">
    <meta name="keywords" content="Tara Zedayko, Dig Labs, DIG LABS">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tara Zedayko</title>
    <link rel="stylesheet" href="../stylesheets/about-styles.css">
</head>
<body>
<div>
    <h1 class="main-headers">Tara Zedayko</h1>
    <h2 class="sub-headers">About</h2><br>
</div>
<div class="content-left">
    <ul>
        <li>Graduated from Cornell</li>
        <li>Biomedical Engineer</li>
        <li>MBA NYU Stern</li>
        <li>Johnson & Johnson 14 years</li>
        <li>Research & Development</li>
        <li>Owner of 7 patents</li>
    </ul>
</div>
<div class="container image-right">
    <img src="../images/TaraLabCoatMask.PNG" alt="Tara in lab coat" class="image-right">
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<button class="button" onclick="location.href='entrepreneur.html'" type="button">Entrepreneur</button>
</body>
</html>
