<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Founder & CEO of Dig Labs">
    <meta name="keywords" content="Tara Zedayko, Dig Labs, DIG LABS">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tara Zedayko</title>
    <link rel="stylesheet" href="../stylesheets/diglabs-styles.css">
</head>
<body>
<div>
    <h1 class="main-headers">Tara Zedayko</h1>
    <h2 class="sub-headers">Dig Labs</h2><br>
</div>
<p class="content-center">Fast-forward to today and Dig Labs has transformed from a pet supplement company into an
    individualized pet health-tech company that focuses on the total-health needs of your pet. Dig Labs offers
    personalized health care for your pet. Through the use of advanced analytics, Dig Labs tailors specialized treatment
    plans uniquely formulated for your dog's needs. Click the button below to save 20% on your first order and to
    start the process of enhancing your pet's health!</p>
<div class="bottom-images-div flex-container">
    <img src="../images/kit.PNG" alt="Dig Labs kit">
    <img src="../images/powders.PNG" alt="Various powdered supplements">
</div>
<br><br><br><br>
<button class="button" onclick="location.href='https://getdiglabs.com/'" type="button">Visit Dig Labs</button>
</body>
</html>
