<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Founder & CEO of Dig Labs">
    <meta name="keywords" content="Tara Zedayko, Dig Labs, DIG LABS">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tara Zedayko</title>
    <link rel="stylesheet" href="../stylesheets/entrepreneur-styles.css">
</head>
<body>
<div>
    <h1 class="main-headers">Tara Zedayko</h1>
    <h2 class="sub-headers">Entrepreneurial Journey</h2><br>
</div>
<p class="content-center">Tara recognized that there was a gap in pet healthcare. She realized that when you take your
    dog to the vet, you usually get cookie-cutter treatment. As dog owners know, this can be frustrating due to the
    trial and error you must go through in order to solve your pets specific health issues. This is where the idea of
    individualized dog supplements spawned. Tara decided to begin the process of producing a nutritional supplement
    powder that can be formulated based on the specific needs of your pet. This would be the beginning of Dig Labs.</p>
<div class="bottom-images-div flex-container">
    <img src="../images/TaraWithDog.PNG" alt="Tara with dog">
    <img src="../images/PupSup.PNG" alt="Dog supplement powder">
</div>
<br><br><br><br>
<button class="button" onclick="location.href='diglabs.html'" type="button">Dig Labs</button>
</body>
</html>

